<table>
  <thead>
    <tr>
      <th>Comida</th>
      <th>Precio</th>
  </thead>
  <tbody>
    {{#each product}} 
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>