<!DOCTYPE html>
<html>
<head>
    <title>Lista de productos</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
    <script>
        const socket = io();

        const product = [
        { 
            name: "pizza",
            price: 200,
            id: 1
        },
        { 
            name: "hamburguesa",
            price: 150,
            id: 2
        },
        { 
            name: "papas fritas",
            price: 100,
            id: 3
        },
        { 
            name: "papas fritas",
            price: 100,
            id: 4
        }
        ]

        function addProduct() {
            const productName = document.getElementById('productName').value;
            const product = { id: Date.now(), name: productName };

            const productList = document.getElementById('productList');
            const newProductItem = documen.createElement('li');
            newProductItem.textContent = product.name;
            productList.appendChild(newProductItem);

            socket.emit('addProduct', product);
        }

        function removeProduct(productId) {
            socket.emit('removeProduct', productId);
        }

        socket.on('product', (products) => {
            displayProducts(products);
        });

        socket.on('updatedProducts', (products) => {
            displayProducts(products);
        });

        function displayProducts(products) {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';

            products.forEach((product) => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `${product.name} <button onclick="removeProduct(${product.id})">Remove</button>`;
                productList.appendChild(listItem);
            });
        }
    </script>
</head>
<body>
    <h1>Lista de Productos:</h1>
    <form onsubmit="addProduct(); return false;">
        <input type="text" id="productName" placeholder="Product name" required />
        <button id="addProduct">Add Product</button>
    </form>
    <ul id="productList">
    </ul>

    
</body>
</html>