<!DOCTYPE html>
<html>
<head>
    <title>Lista de productos</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
    <script>
        const socket = io();

        function addProduct() {
            const productName = document.getElementById('productName').value;
            const product = { id: Date.now(), name: productName };
            socket.emit('addProduct', product);
        }

        function removeProduct(productId) {
            socket.emit('removeProduct', productId);
        }

        socket.on('initialProducts', (products) => {
            displayProducts(products);
        });

        socket.on('updatedProducts', (products) => {
            displayProducts(products);
        });

        function displayProducts(products) {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';

            products.forEach((product) => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `${product.name} <button onclick="removeProduct(${product.id})">Remove</button>`;
                productList.appendChild(listItem);
            });
        }
    </script>
</head>
<body>
    <h1>Lista de Productos:</h1>
    <form onsubmit="addProduct(); return false;">
        <input type="text" id="productName" placeholder="Product name" required />
    </form>
    <ul id="productList">
        
    </ul>

    
</body>
</html>